@import "../../styles/tokens.scss";
@import "~@mozilla-protocol/core/protocol/css/includes/lib";

.settings-page {
  display: flex;
  flex-direction: column-reverse;
}

.menu {
  padding: $spacing-lg $spacing-lg 0;

  h1 {
    padding-bottom: $spacing-lg;
  }

  ul {
    // The list of links is hidden on mobile
    display: none;
    list-style-type: none;

    li {
      padding: $spacing-sm 0;
    }

    a {
      @include text-body-lg;
      display: flex;
      align-items: center;
      color: $color-dark-gray-50;
      gap: $spacing-sm;

      &:hover {
        text-decoration: underline;
      }

      img {
        // The size of text-body-lg, i.e. the same size as the containing <a>'s font:
        width: remify(type-scale("body-lg-size"));
      }
    }
  }
}

.main {
  width: 100%;
  padding: $spacing-lg;
}

.banner-wrapper {
  padding-bottom: $spacing-xl;
}

$field-gap: $spacing-lg;

.settings-form {
  box-shadow: $box-shadow-sm;
  border-radius: $border-radius-md;
  padding: $spacing-md;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: $field-gap;
}

.field {
  border-bottom: 1px solid $color-light-gray-20;
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
  // padding-bottom is used to have the same gap between the form field and the
  // bottom border, as the form field has to the bottom border of the form field
  // preceding it (via `.settings-form`'s `gap`).
  padding-bottom: $field-gap;
}

.field-heading {
  @include text-title-3xs;
  color: $color-dark-gray-50;
  font-weight: 400;
  flex-basis: 0;
  min-width: $layout-xl;
}

.field-content {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;

  .field-control {
    display: flex;
    align-items: flex-start;
    gap: $spacing-sm;

    input {
      margin-top: $spacing-xs;
    }

    label {
      display: inline-block;
    }
  }

  .field-warning {
    display: flex;
    gap: $spacing-sm;
    align-items: flex-start;
    background-color: $color-light-gray-20;
    width: 100%;
    padding: $spacing-md $spacing-lg;
    border-radius: $border-radius-sm;
  }
}

.controls {
  text-align: center;
}

.copy-api-key-content {
  display: flex;
  flex-direction: row;
  gap: $spacing-md;
  align-items: center;
}

.copy-api-key-display {
  padding: $spacing-sm $spacing-md;
  background-color: $color-grey-05;
  border: 0;
  outline: 1px solid $color-grey-20;
  border-radius: $border-radius-md;
  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;
}

.copy-button-wrapper {
  display: flex;
  flex-direction: row;
  gap: $spacing-xs;
  position: relative;

  .copy-button {
    display: block;
    appearance: none;
    border: 0;
    background-color: transparent;
    text-align: center;
    cursor: pointer;

    img {
      opacity: 0.5;
      width: $layout-xs;
    }

    &:hover {
      img {
        opacity: 1;
      }
    }
  }

  .copied-confirmation {
    opacity: 0;
    pointer-events: none;
    transition: opacity 2s;
    background-color: $color-violet-30;
    color: $color-white;
    border-radius: $border-radius-md;
    padding: 0 $spacing-xs;
    // On small screens, there's not enough room for the "Copied!"
    // notification to the right of the copy button, so it's absolutely
    // positioned to overlap the copy button.
    position: absolute;
    right: 0;
    // Position this in the middle of its container
    top: 50%;
    transform: translateY(-50%);

    &.is-shown {
      pointer-events: auto;
      opacity: 1;
      // Don't fade in when appearing:
      transition: opacity 0s;
    }

    @media screen and #{$mq-sm} {
      position: static;
      transform: none;
    }
  }
}

@media screen and #{$mq-md} {
  .settings-page {
    display: flex;
    flex-direction: row-reverse;
  }

  .settings-form {
    padding: $spacing-lg;
  }

  .menu {
    width: $content-sm;

    ul {
      display: block;
    }
  }

  .field {
    flex-direction: row;
    gap: $spacing-2xl;
  }

  .field-heading {
    flex-shrink: 0;
  }

  .controls {
    text-align: end;
  }
}
@media screen and #{$mq-lg} {
  .field-heading {
    flex-basis: auto;
    // Custom percentage to accommodate tablet/laptop screens
    width: 33%;
  }
}
@media screen and #{$mq-xl} {
  .field-heading {
    flex-basis: auto;
    width: $content-sm;
  }
}
