@import "~@mozilla-protocol/core/protocol/css/includes/tokens/dist/index.scss";
@import "~@mozilla-protocol/core/protocol/css/includes/lib";

$stopLabelHeight: 2rem;
$iconHeight: 50px;
$trackLineHeight: 4px;

.group {
  // A CSS variable to enable different values depending on the screen size:
  --thumbDiameter: 32px;

  @media screen and #{$mq-md} {
    --thumbDiameter: 24px;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  touch-action: none;
  padding: 0 $spacing-md;
  width: 100%;

  @media screen and #{$mq-md} {
    flex-direction: row;
    gap: $spacing-xl;
    padding: 0 $spacing-lg;
  }
  @media screen and #{$mq-lg} {
    gap: $layout-2xl;
  }

  .control {
    width: 100%;
    max-width: $content-xs;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: $spacing-md;

    .slider-label {
      padding-bottom: $spacing-md;
      display: inline-block;
    }

    .track-wrapper {
      // To absolutely position the track in the middle of the control, it needs
      // to be offset from the top by:
      // 1. the height of the icon on top of it ($iconHeight), plus
      // 2. half the width of the thumb, so it gets placed right in the middle
      //    of the thumb ($thumbDiameter / 2), minus
      // 3. half the height of the track itself ($trackLineHeight / 2):
      --trackLineOffset: calc(
        #{$iconHeight} + (var(--thumbDiameter) / 2) - (#{$trackLineHeight} / 2)
      );
      width: 100%;
      position: relative;
      padding-top: $iconHeight;

      .track {
        width: 100%;
        cursor: pointer;
        // The thumb, its labels, and the track are absolutely positioned and thus
        // don't take up space by default. Hence, we need to add bottom padding
        // for them so no other content overlaps them:
        // Note: when modifying this value, make sure to also modify it
        // in the .isFree section down below:
        padding-bottom: calc(
          var(--thumbDiameter) + #{$trackLineHeight} + #{$stopLabelHeight}
        );

        .track-line {
          position: absolute;
          background-color: $color-light-gray-20;
          height: $trackLineHeight;
          top: var(--trackLineOffset);
          width: 100%;
        }

        .thumb-container {
          position: absolute;
          transform: translateX(-50%);
          cursor: pointer;
          // The thumb has a z-index of 1 to overlap .track-stop-promotional,
          // which is also absolutely positioned but occurs later in the DOM,
          // and therefore would overlap the thumb.
          z-index: 1;

          .thumb {
            width: var(--thumbDiameter);
            height: var(--thumbDiameter);
            border-radius: 50%;
            background-color: $color-violet-20;
            border: 4px solid $color-violet-50;
            box-shadow: $box-shadow-sm;

            &.is-focused {
              // The alpha value makes sure the lock icon is still visible for
              // free users when the thumb is placed on the "Promotionals" level:
              background-color: rgba($color-purple-30, 0.5);
              border-color: $color-purple-60;
            }
            &.is-dragging {
              // This class can be used if we want to style the thumb
              // while it's being dragged.
            }
          }
        }
      }

      .track-stop {
        width: var(--thumbDiameter);
        height: var(--thumbDiameter);
        border-radius: 50%;
        background-color: $color-light-gray-20;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $spacing-sm;

        &:hover {
          background-color: $color-purple-10;

          img {
            filter: grayscale(0%);
          }

          p {
            color: $color-purple-30;
          }
        }

        img {
          filter: grayscale(100%) brightness(150%);
          // To position the icon above the track stops (which are as high as
          // the slider thumb), we set a negative top margin of its own height,
          // and the height of the thumb:
          margin-top: calc(-1 * #{$iconHeight} - var(--thumbDiameter));
          padding-bottom: $spacing-sm;
          // The image should not take up space within the track stop,
          // so that the lock icon from .trackStopPromotional can be properly
          // centered:
          position: absolute;
        }

        p {
          @include text-body-sm;
          color: $color-dark-gray-05;
          font-weight: 700;
          position: absolute;
          // To position the track sop label below the track stops (which are as
          // high as the slider thumb), we place it at a distance of the thumb
          // from the top, and some spacing so that it's not glued to the track
          // stop:
          top: calc(var(--thumbDiameter) + #{$spacing-xs});
          height: $stopLabelHeight;
        }

        &.is-selected {
          img {
            filter: grayscale(0%);
          }
          p {
            color: $color-black;
          }
        }

        &.track-stop-none {
          // To make the left-hand side of the track end in the middle, rather
          // than at the edge, of the first track stop, we offset the first
          // track stop by half of its width to the left:
          left: calc(-1 * var(--thumbDiameter) / 2);
        }
        &.track-stop-promotional {
          // To position the second track stop precisely in the middle, we
          // offset it by half of the width of the track, minus half its own
          // width:
          left: calc(50% - var(--thumbDiameter) / 2);
          top: $iconHeight;
          cursor: pointer;
        }
        &.track-stop-all {
          // To make the right-hand side of the track end in the middle, rather
          // than at the edge, of the last track stop, we offset the last
          // track stop by half of its width to the right:
          right: calc(-1 * (var(--thumbDiameter) / 2));
        }
      }

      @media screen and #{$mq-md} {
        padding-top: 0;

        .track .track-line {
          // --trackLineOffset was calculated to include the height of the image
          // on top that accompanies track stops on small screens. However, on
          // large screens, that icon is not visible, so we need to subtract it
          // from the offset again:
          top: calc(var(--trackLineOffset) - #{$iconHeight});
        }

        .track-stop {
          img {
            display: none;
          }

          &.track-stop-promotional {
            top: 0;
          }
        }
      }
    }
  }

  .value-description {
    $arrowEdgeLength: 8px;
    margin-top: $arrowEdgeLength;
    background-color: $color-light-gray-10;
    padding: $spacing-md $spacing-xl;
    border-radius: $border-radius-md;
    position: relative;
    width: 100%;

    &::after {
      background-color: $color-light-gray-10;
      height: 2 * $arrowEdgeLength;
      width: 2 * $arrowEdgeLength;
      transform: rotate(45deg);
      content: "";
      position: absolute;
      top: -1 * $arrowEdgeLength;
      left: calc(50% - #{$arrowEdgeLength});
    }

    .value-description-content {
      display: flex;
      flex-direction: column;
      gap: $spacing-xs;

      a {
        display: inline-block;
        color: $color-blue-50;
        font-weight: 500;

        &:hover {
          text-decoration: underline;
        }
      }

      .locked-message {
        display: flex;
        align-items: center;
        gap: $spacing-xs;
        font-weight: 600;

        .lock-icon {
          color: $color-light-gray-70;
        }
      }
    }

    img {
      display: none;
    }

    @media screen and #{$mq-md} {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: $spacing-md;
      background-color: transparent;
      // The content changes depending on the selected blocking mode,
      // so if the height would be based on the content, switching blocking modes
      // would cause a lot of jumping around:
      min-height: 150px;

      img {
        display: inline-block;
      }
    }
  }

  &.is-free {
    .control .track {
      // This is like the regular .track's bottom padding, but with
      // $stopLabelHeight multiplied by 1.5, because there's a "(Premium only)"
      // line in a smaller font below the "Promotionals" label for free users:
      padding-bottom: calc(
        var(--thumbDiameter) + #{$trackLineHeight} + #{$stopLabelHeight * 1.5}
      );
    }
    .track-stop-promotional {
      color: $color-light-gray-70;
      border-style: none;

      &:hover {
        // The standard background colour, because this can't be selected
        // by a free user:
        background-color: $color-light-gray-20;
      }

      p {
        color: $color-light-gray-70;
        text-align: center;

        .premium-only-marker {
          @include text-body-xs;
          color: $color-purple-50;
        }
      }

      &.is-selected {
        p,
        .lock-icon {
          color: $color-purple-50;
        }
      }
    }
  }
}

.upgrade-tooltip-underlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .upgrade-tooltip {
    background-color: $color-white;
    box-shadow: $box-shadow-sm;
    display: flex;
    padding: $spacing-xl;
    gap: $spacing-lg;
    width: $content-md;
    max-width: calc(100% - $spacing-xl);
    border-radius: $border-radius-sm;

    .close-button {
      position: absolute;
      top: $spacing-sm;
      right: $spacing-sm;
      padding: 0;
      background-color: transparent;
      border-style: none;
      border-radius: $border-radius-sm;
    }

    .promotionals-blocking-icon {
      display: none;

      @media screen and #{$mq-md} {
        display: inline-block;
      }
    }

    .upgrade-message {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: $spacing-xs;

      b {
        display: flex;
        align-items: center;
        gap: $spacing-sm;

        svg {
          color: $color-light-gray-70;
        }
      }

      a {
        color: $color-blue-50;
        // Add some padding to the focus outline, without affecting the CTA's
        // position:
        margin: -1 * $spacing-xs;
        padding: $spacing-xs;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
